/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  text-decoration: none;
  scroll-behavior: smooth;
  }
  
  
  /* navbar styling */
  .header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100;
  }
  .header .header {
    min-height: 8vh;
    background-color:palevioletred ;   
    transition: 0.3s ease background-color  blue ;
  }
  .header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
  }
  .header .nav-list ul {
    list-style: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
  }
  .header .nav-list ul.active {
    left: 0%;
  }
  .header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    background-color: pink;
    text-transform: uppercase;
    padding: 20px;
    display: block;
  }
  .header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: palevioletred; 
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
  }
  .header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
  }
  .header .nav-list ul li:hover a {
    color: black;  
  }
  .header .hamburger { 
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
  
  }
  .header .hamburger:after {
    position: absolute;
    content: '';
    height: 90%;
    width: 90%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
  }
  .header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
  }
  .header .hamburger .bar::after,
  .header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: pink;
    transition: 0.3s ease;
    transition-property: top, bottom;
  }
  .header .hamburger .bar::after {
    top: 8px;
  }
  .header .hamburger .bar::before {
    bottom: 8px;
  }
  .header .hamburger.active .bar::before {
    bottom: 0;
  }
  .header .hamburger.active .bar::after {
    top: 0;
  }
  .header .hamburger {
      display: none;
    }
     .header .nav-list ul {
      position: initial;
      display: block;
      height: auto;
      width: fit-content;
      background-color: pink;
    }
    .header .nav-list ul li {
      display: inline-block;
    }
    .header .nav-list ul li a {
      font-size: 1.8rem;
    }
    .header .nav-list ul a:after {
      display: none;
    }
  
/* home section styling */
.home{
  height: 120vh;
  width: 100%;
  background: url("./Images/profile2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'poppins', sans-serif;
}
.home .home-content{
  width: 90%;
  height: 150%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one{
  font-size: 25px;
  color: #0E2431;
}
.home .text-two{
  color: #0E2431;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three{
  font-size: 40px;
  margin: 5px 0;
  color: #4070f4;
}
.home .text-four{
  font-size: 23px;
  margin: 5px 0;
  color: #0E2431;
}
.home .button{
  margin: 10px 0;
}
.home .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: pink;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button button:hover{
  border-color:skyblue ;
  background-color: #fff;
  color: #4070f4;
}

/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section{
  padding-top: 40px;
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'poppins', sans-serif ;
}
.about{
  height: 185vh;
  width: 100%;
  background: url("./Images/Gradients.jfif") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: black;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right{
  width: 55%;
}
section  .topic{
  color: blue;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: #0E2431;
}



/* Projects Section */
.projects {
	padding: 10rem ;
}
.projects{
  height: 90;
  width: 80%;
  background: url("images/Gradients.jfif") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'poppins', sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns:  auto auto auto ;
  grid-gap: 8px;
  background-color: palevioletred;
  padding: 20px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 10px;
  font-family: 'poppins', sans-serif;
}

 /*  Skills CSS */
 .Skills{
   background: #F0F8FF;
 } 
 .Skills{
  height: 110vh;
  width: 100%;
  background: url("images/Gradients.jfif") repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'poppins', sans-serif;
}
 .skills-details .boxes{
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  
}

.skills-details .box{
  width: calc(100% / 2 - 20px);
  margin: 30px 0;
}
.skills-details .boxes .topic{
  font-size: 40px;
  color: black;
  background-color: palevioletred;
}
.skills-details .boxes .per{
  font-size: 80px;
  color: darkslateblue;
}


/* Contact Me CSS */

.contact{
  height: 100vh;
  width: 100%;
  background: url("images/Gradients.jfif") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'poppins', sans-serif;
}

.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: pink;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: black;
}

@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
  width: 100%;
  margin-left: 0;
}
}

/* Footer CSS */
footer{
  background: pink;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: black;
}
footer .text span a{
  font-weight: 500;
  color: black;
}
footer .text span a:hover{
  text-decoration: underline;
}.navbar .media-icons a{
  color: #4070f4;
  font-size: 30px;
  margin:  15px;
}
